matplotlib~=3.10.3
numpy~=1.26.4
tensorflow~=2.16.2
seaborn~=0.13.2
scikit-learn~=1.6.1
pandas~=2.2.3
pillow~=11.2.1

# The folowing packages are used for running on Apple Silicon
# tensorflow-macos~=2.16.2
# tensorflow-metal~=1.2.0